html {
  font-size: 14px;
}
nav {
    background-color: #808080;
    color: white;
}
#introBlock {
    background-color: #808080;
    color: white;
    font-weight: 600
}
#introBlock h4 {
    color: black;
    font-weight: bold;
    padding: 15px

}
.citedVerse {
    margin: 15px;
    font-style: italic;
    font-size: .9em;
    text-align: right;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}