@page
@model TestUserLogIn.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Admin Only</h1>
    <p>You were able to log in as an admin to get to this page.</p>
</div>
