@page
@model IndexModel
@{
    ViewData["Title"] = "Stewardship Survey";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Stewardship Survey</h1>
        <p class="lead">
            Stewardship is about more than money. It’s our whole lives.
            Jesus lived his life and gave his life for us. Our loving response is
            to imitate that. We are sending out this survey to match our members'
            abilities and interests with areas of service in the congregation. As
            you fill out this survey contemplate God's Word'
        </p>
        <div class="mx-lg-5">
            <h5>
                Serve one another, each according to the gift he has received, as good stewards of the many forms of God's grace.
                If anyone speaks, let him do it as one speaking the messages of God. If anyone serves, let him do it as one
                serving with the strength God supplies so that God may be glorified in every way through Jesus Christ. To him belong
                the glory and the power forever and ever. Amen.
            </h5> 
            <h5 class="citedVerse">&minus; Peter 4:10,11</h5>
        </div>

        <p class="p-5">
            <a asp-page="/Members/MemberInfo" class="btn btn-primary btn-md">Begin Survey &raquo;</a>
            
        </p>
    </section>

    <div class="card shadow-sm mb-4" id="introBlock">
        <div class="row ">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                @*<h2 id="gettingStartedTitle">How?</h2>*@
                <h4>
                    How can I help my church family?
                </h4>
                <p class="fst-italic, p-2">
                    In the same way let your light shine in people's presence, so that they may see your good works and glorify your Father who is in heaven.
                    <div class="citedVerse">
                        &minus; Matthew 5: 16
                    </div>
                </>

            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                @*<h2 id="librariesTitle">When?</h2>*@
                <h4>
                    When can I help my church family?
                </h4>
                <p class="fst-italic, p-2">
                    Then the righteous will answer him, ‘Lord, when did we see you hungry and feed you, or thirsty and give you a drink? When did we see you a stranger and welcome you, or lacking clothes and clothe you? When did we see you sick or in prison and visit you?’
                    “The King will answer them, ‘Amen I tell you: Just as you did it for one of the least of these brothers of mine, you did it for me.’
                    <div class="citedVerse">
                        &minus; Matthew 25: 37&minus;40
                    </div>
                </p>

            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                @*<h2 id="hostingTitle">Why?</h2>*@
                <h4>
                    Why should I help my church family?
                </h4>
                <p class="fst-italic, p-2">
                    So by the grace given to me, I tell everyone among you not to think of yourself more highly than you ought, but think in a way that results in sound judgment, as God distributed a measure of faith to each of you.For we have many members in one body, and not all the members have the same function. In the same way, though we are many, we are one body in Christ, and individually members of one another.
                    <div class="citedVerse">
                        &minus; Romans 12: 3&minus;5
                    </div>
               
                </p>

            </section>
        </div>
    </div>

</main>