@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All information shared will be used solely for the purposes of the ministry of St. Mark Lutheran Church. Information may be shared internally within the organization.</p>
