@page
@model TestUserLogIn.Pages.Members.InterestsModel
@{
}

<h2 class="mb-4">Select the areas and Items that interest you most.</h2>

<div class="card shadow-sm mb-4" id="introBlock">
    <div class="card-body">
        <h5>
            Serve one another, each according to the gift he has received, as good stewards of the many forms of God's grace.
            If anyone speaks, let him do it as one speaking the messages of God. If anyone serves, let him do it as one
            serving with the strength God supplies so that God may be glorified in every way through Jesus Christ. To him belong
            the glory and the power forever and ever. Amen.
        </h5>
        <div class="citedVerse">&minus; Peter 4:10,11</div>
    </div>
</div>