@page
@model TestUserLogIn.Pages.Members.InterestsModel
@{
}
<section class="col-md-4" aria-labelledby="librariesTitle">
    @*<h2 id="librariesTitle">When?</h2>*@
    <h4>
        When can I help my church family?
    </h4>
    <p class="fst-italic, p-2">
        Then the righteous will answer him, ‘Lord, when did we see you hungry and feed you, or thirsty and give you a drink? When did we see you a stranger and welcome you, or lacking clothes and clothe you? When did we see you sick or in prison and visit you?’
        “The King will answer them, ‘Amen I tell you: Just as you did it for one of the least of these brothers of mine, you did it for me.’
        <div class="citedVerse">
            &minus; Matthew 25: 37&minus;40
        </div>
    </p>

</section>