
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="Microsoft.*" />
			<package pattern="dotnet-ef" />
			<package pattern="dotnet-aspnet-codegenerator" />
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>